body {
    font-family: Arial;
    background-color: beige;
}

hr {
    border:1px solid black;
}

input[type=text],
select {
    width:300px;
}

#addAnimal {
    padding:4px;
}

.navbuttons {
    white-space:nowrap;
    display: inline;
    text-align: center;
}

#animalList td {
    margin: 6px;
    font-size: 12pt;
    font-weight: bold;
    padding: 8px;
    border-collapse: collapse;
    border-spacing: 0;
}

#animalList td:first-child {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#animalList td:first-child {
    margin: 6px;
    font-size: 12pt;
    font-weight: bold;
    padding: 8px;
    border-collapse: collapse;
    border-spacing: 0;
}


td.labels {
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}

#listNavContainer {
    font-size:10pt;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.visible {
    display: inherit;
}

.nav_controls span {
    color:blue;
    font-weight: bold;
    cursor: pointer;
}

.edit {
    color:blue;
    font-weight: bold;
    cursor: pointer;
    font-size:8pt;
}

.add {
    font-size:10pt;
}

textarea#Description {
    width:100%;
    height:200px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#modal {
    position:absolute;
    border-radius:14px;
    padding:8px;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
}

#detailsTable {
    border-radius:8px;
    background:#fff;
    padding:20px;
}

#loading {
    background-color: beige;
    background:url(../images/Filled-fading-balls.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
